body {
	min-height: 500px;
}

#up {
	padding: 5rem;
	background-color: #9AB3F5;
	margin-bottom: 5rem;
}

#form {
	margin-left: 30rem;
	margin-right: 30rem;
}

.rows {
	padding: 2rem 2rem;
	background-color: #B9FFFC;
}

.form-control {
	background-color: #9AB3F5;
}

.forgot {
	background-color: #7579E7;
}

.btnlogin {
	padding: 1rem;
}

#btnlogin {
	padding: 0.7rem 0.7rem;
}

.create {
	padding-bottom: 5rem;
}

#down {
	padding: 5rem;
	background-color: #9AB3F5;
}